@charset "utf-8";
/* CSS Document */

body{
  font-family: arial;
  font-size: 16px;
  width:800px;
  margin: auto;
  text-align: center;
  color: cyan;
}
#top{
  height:120px;
  background-color: blue;
}
#menu{
  height: 40px;
  background-color: red;
  margin: 10px 0px 10px 0px;
  line-height: 40px;
  padding-left: 0px;
}
#menu ul{
  list-style-type: none;
  padding: 0px;
}
#menu ul li{
  float: left;
  width: 159px;
  border-left: 1px solid black;
  position:relative; /*cố định li mà chúng ta hover*/
}
#menu ul li a{
  text-decoration: none;
  color:black;
}
#menu ul li a:hover{
  color: white;
}
.submenu{
	display:none; /*Ẩn menu con*/
	position:absolute; z-index:90; /*menu con nổi lên trên li cố định*/
	background:#06F;
}
.submenu li{
	border-right: 1px solid #000;
	border-bottom: 1px dashed #000000;
}
#menu li:hover .submenu{
	display:block; /*Hiện menu con khi hover*/
}
#wrapper{
  height:500px;
}
#left{
  width: 140px;
  height:500px;
  background-color: magenta;
  float: left;
}
#main{
  width:500px;
  height:500px;
  background-color: yellow;
  float:left;
}
#right{
  width:160px;
  height:500px;
  background-color: green;
  float: left;
}
#bottom{
  height: 40px;
  background-color: grey;
  line-height: 40px;
}