body{
  font-family: arial;
  font-size: 16px;
  width:800px;
  margin: auto;
  text-align: center;
  color: white;
}
#top{
  height:120px;
  background-color: red;
}
#menu{
  height: 40px;
  background-color: blue;
  margin: 10px 0px 10px 0px;
  line-height: 40px;
  padding-left: 0px;
}
#menu ul{
  list-style-type: none;
  padding: 0px;
}
#menu ul li{
  float: left;
  width: 159px;
  border-left: 1px solid #ffff;
}
#menu ul li a{
  text-decoration: none;
  color:white;
}
#menu ul li a:hover{
  color: yellow;
}
#wrapper{
  height:500px;
}
#left{
  width: 140px;
  height:500px;
  background-color: magenta;
  float: left;
}
#main{
  width:500px;
  height:500px;
  background-color: yellow;
  float:left;
}
#right{
  width:160px;
  height:500px;
  background-color: green;
  float: left;
}
#bottom{
  height: 40px;
  background-color: grey;
  line-height: 40px;
}